---
---

@font-face {
  font-family: "UnifontExMono";
  src: url("http://stgiga.github.io/UnifontEX/UnifontExMono.eot"); /* IE9 Compat Modes */
  src: url("http://stgiga.github.io/UnifontEX/UnifontExMono.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("https://stgiga.github.io/UnifontEX/UnifontExMono.woff") format("woff"), /* Pretty Modern Browsers */
       url("https://stgiga.github.io/UnifontEX/UnifontExMono.ttf")  format("truetype"), /* Safari, Android, iOS */
       url("http://stgiga.github.io/UnifontEX/UnifontExMono.woff2") format("woff2"), /* Super Modern Browsers */
       url("http://stgiga.github.io/UnifontEX/UnifontExMono.svg#UnifontExMono") format("svg"); /* Legacy iOS */
}

body {
  font-family: "UnifontExMono" !important;
}

@import "{{ site.theme }}";