---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>

  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<section id="isso-thread">
</section>

<script async data-isso="/isso" data-isso-lang="es" src="/isso/js/embed.min.js">
</script>
